{% extends 'users/base_logged_in.html' %}
{% load widget_tweaks %}
{% block content %}

<form action="/hub/deposit-rate-request/" method="POST" enctype="multipart/form-data" class="form-horizontal" novalidate="">{% csrf_token %}
    <fieldset>
        <div class="form-group ">
            <label class="col-sm-2 control-label ">Deposit amount</label>
            <label class="col-sm-2"><input name="deposit_amount" class="form-control" type="number" value=""></label>
            <label class="col-sm-2 control-label ">Deposit term</label>
            <label class="col-sm-2"><input name="deposit_term" class="form-control" type="number" value=""></label>
            <label class="col-sm-2 control-label "><input type="hidden" name="post_data" value="true"/> 
                <button class="btn btn-primary js-tooltip" title=""
                     data-original-title="Make a POST request on the Deposit Inquiry List resource">POST</button></label>
        </div>
    </fieldset>
</form>
<br/>

{% if inquiries %}

    {% for inq in inquiries %}
        <b>Amount (Rs): </b>{{inq.deposit_amount}}, <b>Term:</b> {{inq.deposit_term}}, <b>Inquired Date:</b> {{inq.inquiry_date}}<br/>
        {% if inq.depositoffers %}
            {% for offer in inq.depositoffers %}
                Offered Rate: {{offer.offered_rate}}, Offered Date: {{offer.offered_date}}, By: {{offer.lender_name}}
            {% endfor %}
        {% endif %}
        <form method="POST">{% csrf_token %}
            <input type="hidden" name="delete_data" value="true"/>
            <input type="hidden" name="inquiry_id" value="{{inq.id}}"/>
            <button class="btn btn-primary">DELETE</button>
        </form>
        <hr/>
    {% endfor %}
{% endif %}

{% endblock %}