{% extends 'users/base_logged_in.html' %}
{% load widget_tweaks %}
{% block content %}
{% if inquiries %}
<table class="mt-5 table table-striped table-bordered dataTable showtable" style="width: 100%;">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Term</th>
            <th>My Rate</th>
            <th>Maximum Offered Rate</th>
            <th>Number of Offers</th>
        </tr>
    </thead>
    <tbody>
    {% for inq in inquiries %}
    <tr>
        <td>{{inq.deposit_amount}}</td>
        <td>{{inq.deposit_term}}</td>
        <td>
            <form method="POST">{% csrf_token %}
                <input type="hidden" name="deposit_inq_id" value="{{inq.id}}"/>
                <input type="text" name="offered_rate" value="{% if inq.my_max_offer > 0 %}{{inq.my_max_offer}}{% else %}{% endif %}"/>
                <button type="submit" class="btn btn-outline-primary btn-sm">Update</button>
            </form>
        <td>{{inq.max_rate}}</td>
        <td>{{inq.no_offers}}</td>
    </tr>
    {% endfor %}
    </tbody>    
</table>
{% endif %}

{% endblock %}