{% extends 'users/base_logged_in.html' %}
{% block content %}


    <h2>Excepteur sint occaecat cupidatat non proident</h2>
    <br />
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex e</p>
    <br />
    <br />
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <a href="/hub/lease-applications/" class="card-link">
            <div class="card" style="width: 18rem;">
                <br />
                <img src="https://img.icons8.com/dusk/64/000000/car--v1.png" / class="card-img-top"
                    style="width: 64px; align-self: center;">
                <div class="card-body">
                    <h5 class="card-title">Pre qualify for a lease</h5>
                    <p class="card-text">Some quick example text to build on the card title and make </p>
                </div>
            </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="/hub/new-deposit/" class="card-link">
                <div class="card" style="width: 18rem;">
                    <br />
                    <img src="https://img.icons8.com/cotton/48/000000/sales-performance--v5.png" class="card-img-top"
                        style="width: 64px;align-self: center;">
                    <div class="card-body">
                        <h5 class="card-title">Lock-in fixed deposit rate</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-2"></div>
    </div>

{% endblock %}